myLibs//VM.UnRedo.dll
myLibs//Apps.XmlUI.dll
myLibs//Apps.XmlParser.dll
myLibs//Apps.Data.dll
myLibs//VM.Util.dll
myLibs//VM.XML.dll
myLibs//VM.PcUI.dll
myLibs//VM.Core.dll
myLibs//VMControls.Data.dll
myLibs//VM.ModuleControl.dll
myLibs//VM.CalibGuide.dll
myLibs//VMBaseControls.dll
myLibs//Apps.BaseData.dll
VisionMaster.exe